= form_for maneuver_participant, id: 'score_form' do |f|
  = f.hidden_field :maneuver_id, value: maneuver.id
  = f.hidden_field :participant_id, value: participant.id
  - maneuver.grouped_obstacles.each do |(point_value, type), obstacles|
    .form-group
      = f.label :"obstacle_#{obstacles.first.id}", "#{point_value}-point #{type.pluralize} touched"
      = render 'shared/with_increment_buttons' do
        = f.number_field :"obstacle_#{obstacles.first.id}", value: 0, in: 0..obstacles.count
  - maneuver.distance_targets.each do |target|
    .form-group
      = f.label :"target_#{target.id}", "#{target.interval_type} from #{target.name}"
      = render 'shared/with_increment_buttons' do
        = f.number_field :"target_#{target.id}", value: target.minimum, min: target.minimum
  .form-group
    = f.label :reversed_direction, maneuver.name.include?('Reverse') ? 'Extra reverses' : 'Reverses'
    = render 'shared/with_increment_buttons' do
      = f.number_field :reversed_direction, min: 0
  - if maneuver.speed_target.present?
    .form-group.form-check
      = f.checkbox :speed_achieved, class: 'form-check-input'
      = f.label :speed_achieved, "Achieved #{maneuver.speed_target} mph", class: 'form-check-label'
  - if maneuver.counts_additional_stops?
    .form-group.form-check
      = f.checkbox :made_additional_stops, class: 'form-check-input'
      = f.label :made_additional_stops, 'Extra stops?', class: 'form-check-label'
  .form-group.form-check
    = f.checkbox :completed_as_designed, class: 'form-check-input'
    = f.label :completed_as_designed, 'Completed as designed?', class: 'form-check-label'
  = f.submit 'Save & next', class: 'btn btn-primary'
