.scoring
  = form_tag maneuver_participants_path, id: 'score_form' do
    = hidden_field_tag :maneuver_id, @maneuver.id
    = hidden_field_tag :participant_id, @participant.id
    - @maneuver.grouped_obstacles.each do |(point_value, type), obstacles|
      .form-group
        = label_tag :"obstacle_#{obstacles.first.id}", "#{point_value}-point #{type.pluralize} touched"
        = render 'shared/with_increment_buttons' do
          = number_field_tag "obstacle_#{obstacles.first.id}", 0, in: 0..obstacles.count
    - @maneuver.distance_targets.each do |target|
      .form-group
        = label_tag :"target_#{target.id}", "#{target.interval_type.capitalize} from #{target.name}"
        = render 'shared/with_increment_buttons' do
          = number_field_tag "target_#{target.id}", target.minimum, min: 0
    .form-group
      = label_tag :reversed_direction, @maneuver.name.include?('Reverse') ? 'Extra reverses' : 'Reverses'
      = render 'shared/with_increment_buttons' do
        = number_field_tag :reversed_direction, 0, min: 0
    - if @maneuver.speed_target.present?
      .form-group.form-check
        = hidden_field_tag :speed_achieved, false
        = checkbox_tag :speed_achieved, true, class: 'form-check-input'
        = label_tag :speed_achieved, "Achieved #{@maneuver.speed_target} mph", class: 'form-check-label'
    - if @maneuver.counts_additional_stops?
      .form-group
        = hidden_field_tag :made_additional_stops, false
        = checkbox_tag :made_additional_stops, false, class: 'form-check-input'
        = label_tag :made_additional_stops, 'Extra stops?', class: 'form-check-label'
    .form-group.form-check
      = hidden_field_tag :completed_as_designed, false
      = checkbox_tag :completed_as_designed, true, class: 'form-check-input'
      = label_tag :completed_as_designed, 'Completed as designed?', class: 'form-check-label'
    .form-group
      = submit_tag 'Save & next', class: 'btn btn-primary submit'
      = link_to previous_participant_maneuver_path(@maneuver) do
        %button.btn.btn-secondary.actions{ type: :button }
          %i.fa-solid.fa-arrow-left
          %span.d-none.d-sm-inline Previous participant
