= render 'shared/title', title: "Edit #{resource_name.to_s.humanize}"
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'off', id: 'user_password', min: Devise.password_length.min, class: 'form-control'
    %small.form-text.text-muted Leave blank if you don't want to change it
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'off', id: 'user_password_confirmation', class: 'form-control'
  #divCheckPasswordMatch.registrationFormAlert
  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
    %small.form-text.text-muted We need your current password to confirm your changes
  .actions
    = f.submit 'Update', class: 'btn btn-primary submit'
%h3.pt-5 Cancel my account
.form-group
  Unhappy?
  = button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
