.circle_check_scores.container
  %h1 Circle Check Scores
  %hr

  %table.circle_check_scores
    %tr
      %th Participant
      %th Defects found
      %th Total defects
      %th
    - @participants.each do |participant|
      = form_for CircleCheckScore.find_or_initialize_by(participant: participant), class: 'form-inline' do |f|
        %tr
          %td
            #{participant.name} (#{participant.number})
            = f.hidden_field :participant_id, value: participant.id
          %td= f.number_field :defects_found, placeholder: 'Enter a score...', class: 'form-control'
          %td= f.number_field :total_defects, value: CircleCheckScore::TOTAL_DEFECTS_DEFAULT, class: 'form-control'
          %td= f.submit 'Save score', class: 'btn btn-primary'
