= render 'shared/title', title: 'Add Participant to Maneuvers Queue'
= form_tag assign_number_participants_path, class: 'scoring form-inline' do
  = select_tag :id,
    options_from_collection_for_select(@unassigned, :id, :name),
    class: 'form-control mr-3 mb-3 mb-sm-0'
  = select_tag :bus_id,
    options_from_collection_for_select(@buses, :id, :number),
    class: 'form-control mr-3 mb-3 mb-sm-0', include_blank: 'Bus number', required: true
  = number_field_tag_with_buttons :number, @next_number, min: @next_number
  = submit_tag 'Add to maneuver queue', class: 'btn btn-primary ml-md-3 mt-3 mt-sm-0'

