%table.scoreboard
  %tr
    %th Participant
    - @maneuvers.each do |maneuver|
      %th= maneuver.name
    %th Onboard Judging
    %th Maneuvers total
    %th Circle Check
    %th Quiz
    %th Total score
  - @participants.each do |participant|
    %tr
      %td
        - if @top_20.include? participant
          = participant.name_and_number
        - else
          = '#' + participant.number.to_s
      - @maneuvers.each do |maneuver|
        %td
          - record = participant.maneuver_record maneuver
          - if record.present?
            - if @can_edit_scores
              = link_to record.score, record
            - else
              = record.score
          - else
            - if @can_edit_scores
              = link_to new_maneuver_participant_path(maneuver: maneuver.name, participant: participant.number) do
                &mdash;
            - else
              &mdash;
      %td
        - record = participant.onboard_judging
        - if record.present?
          - if @can_edit_scores
            = link_to record.score, record
          - else
            = record.score
        - else
          - if @can_edit_scores
            = link_to new_onboard_judging_path(participant: participant.number) do
              &mdash;
          - else
            &mdash;
      %td= participant.maneuver_score
      %td
        - if participant.circle_check_score.present?
          = participant.circle_check_score.score
        - else
          - if @can_edit_scores
            = link_to circle_check_scores_path do
              &mdash;
          - else
            &mdash;
      %td
        - if participant.quiz_score.present?
          = participant.quiz_score.score
        - else 
          - if @can_edit_scores
            = link_to quiz_scores_path do
              &mdash;
          - else
            &mdash;
      %td= participant.total_score
