%table.scoreboard.table.table-bordered.table-striped.table-sm.text-center
  %thead.thead-light
    %tr
      %th Participant
      - @maneuvers.each do |maneuver|
        %th= maneuver.name
      %th Onboard Judging
      %th Maneuvers total
      %th Circle Check
      %th Quiz
      %th Total score
  %tbody
    - @participants.each do |participant|
      - scores = @scores[participant.id]
      %tr
        %td
          - if @top_20.include? participant
            = participant.display_information(:name, :number)
          - else
            = participant.display_information(:number)
        - @maneuvers.each do |maneuver|
          %td
            - record = scores.try(:[], maneuver.id).try :first
            = score_cell record,
              new: new_maneuver_participant_path(maneuver: maneuver.name, participant: participant.number),
              edit: url_for(record)
        %td
          = score_cell participant.onboard_judging,
            new: new_onboard_judging_path(participant: participant.number),
            edit: url_for(participant.onboard_judging)
        %td= participant.maneuver_score
        %td= score_cell participant.circle_check_score, new: circle_check_scores_path
        %td= score_cell participant.quiz_score, new: quiz_scores_path
        %td= participant.total_score
