%table.scoreboard
  %tr
    %th Participant
    - @maneuvers.each do |maneuver|
      %th= maneuver.name
    %th Onboard Judging
    %th Maneuvers total
    %th Circle Check
    %th Quiz
    %th Total score
  - @participants.each do |participant|
    %tr
      %td
        - if @top_20.include? participant
          = participant.name_and_number
        - else
          = participant.number
      - @maneuvers.each do |maneuver|
        %td
          - record = participant.maneuver_record maneuver
          - if record.present?
            - if @can_edit_scores
              = link_to record.score, record
            - else
              = record.score
      %td
        - record = participant.onboard_judging
        - if record.present?
          - if @can_edit_scores
            = link_to record.score, record
          - else
            = record.score
      %td= participant.maneuver_score
      %td= participant.circle_check_score.try :score
      %td= participant.quiz_score.try :score
      %td= participant.total_score
