.table-responsive
  %table.participants.table
    %thead.thead-dark
      %tr
        %th Name
        %th Number
        %th Bus
        %th
        %th
    %tbody
      = form_for Participant.new do |f|
        %tr
          %td= f.text_field :name, placeholder: 'Name', class: 'form-control'
          %td= f.number_field :number, class: 'form-control'
          %td= f.collection_select :bus_id, @buses, :id, :number,
            {include_blank: true}, {class: 'form-control'}
          %td= f.submit 'Add', class: 'btn btn-primary'
          %td
      - @participants.each do |participant|
        %tr
          = form_for participant do |f|
            %td= f.text_field :name, value: participant.name,
              class: 'form-control', required: true
            %td= f.number_field :number, value: participant.number,
              class: 'form-control'
            %td= f.collection_select :bus_id, @buses, :id, :number,
              {value: participant.try(:bus_id), include_blank: true}, { class: 'form-control' }
            %td= f.submit 'Save', class: 'btn btn-primary'
          %td= button_to 'Remove', participant_path(participant), method: :delete, class: 'btn btn-danger'

