.participants
  %h1 Participants
  %hr

  .uniqueness-warning
    Please choose a unique participant number.

  %table.participants
    %tr
      %th Name
      %th Number
      %th
    %tr
      %td{colspan: 3} Add new participant:
    = form_for Participant.new do |f|
      %tr
        %td= f.text_field :name, placeholder: 'e.g. Derek Pires', class: 'form-control'
        %td= f.number_field :number, value: Participant.next_number, class: 'form-control'
        %td= f.submit 'Add', class: 'btn btn-primary'
    - @participants.each do |participant|
      %tr
        = form_for participant do |f|
          %td= f.text_field :name, value: participant.name, class: 'form-control'
          %td= f.number_field :number, value: participant.number, class: 'form-control'
          %td= f.submit 'Save', class: 'btn btn-primary'
        %td= button_to 'Remove', participant_path(participant), method: :delete, class: 'btn btn-primary delete'
