- if @participants_exist
  .scoreboard
    .d-flex.align-items-center
      %button.btn.btn-primary.fullscreen.mr-2
        %i.fas.fa-expand
      - if current_user&.role?(:master_of_ceremonies)
        = form_with model: [:admin, current_user], local: true do |f|
          = f.hidden_field :lock_scores, value: !current_user.lock_scores
          = f.button class: 'btn btn-primary mr-2' do
            - if current_user.lock_scores
              Unlock Scores
              %i.fas.fa-lock-open
            - else
              Lock Scores
              %i.fas.fa-lock
      - if !User.scoring_enabled?
        - if current_user&.role?(:master_of_ceremonies)
          Scores are locked by #{format_locking_users(User.score_lockers)}
        - else
          Scores are locked!
    .scoreboard-content
      - table_classes = %w[scoreboard table table-bordered table-striped table-sm text-center]
      %table{class: table_classes, data: {sortList: sort_list(@sort_order)}}
        %thead.thead-light
          %tr
            %th{data: {sortInitialOrder: 'asc'}} Participant
            - @maneuvers.each do |maneuver|
              %th= maneuver.name
            %th Onboard Judging
            %th Maneuvers total
            %th Circle Check
            %th Quiz
            %th Total score
        %tbody
          = render @participants
      %table#template.d-none
        %tbody
          = render partial: 'participant', locals: { participant: NullParticipant.new }
  = javascript_include_tag 'cable.js' unless @archiving
- else
  %h2 No participants yet
