- if @participants.present?
  %h1 Scoreboard
  %hr

  = label_tag 'Sort by:'
  .scoreboard-sorting.btn-group
    - Participant::SORT_ORDERS.each do |sort_order|
      %button.btn.scoreboard-order{type: :button,
        data: { order: sort_order},
        class: sort_order_button_class(sort_order, @sort_order) }= sort_order.to_s.humanize
  = image_tag 'loading.gif', class: 'scoreboard-sort-loading hidden'
  .scoreboard-content= render partial: 'scoreboard_partial'
  = subscribe_to '/scoreboard'
- else
  Welcome to the 2016 UMass Transit Roadeo mobile webapp!
  %hr
  Once the roadeo has begun, this page will be home to the live scoreboard.
  %br
  Judges will be able to
  = link_to 'log in', new_user_session_path
  to record maneuver scores.
  .attributions
    = link_to 'This site', 'https://github.com/umts/umasstransit.rodeo'
    designed by
    = link_to 'David Faulkenberry', 'https://github.com/dfaulken'
    for
    = link_to 'UMass Transit IT', 'https://github.com/umts'
