- if @participants_exist
  .scoreboard
    .form-inline
      %button.btn.btn-primary.fullscreen
        %i.fas.fa-expand
      - if current_user
        = form_with model: [:admin, current_user], local: true do |f|
          = f.hidden_field :lock_scores, value: !current_user.lock_scores
          = f.button class: 'btn btn-primary ml-2' do
            - if current_user.lock_scores
              Unlock Scores
              %i.fas.fa-lock-open
            - else
              Lock Scores
              %i.fas.fa-lock
    .scoreboard-content
      - table_classes = %w[scoreboard table table-bordered table-striped table-sm text-center]
      %table{class: table_classes, data: {sortList: sort_list(@sort_order)}}
        %thead.thead-light
          %tr
            %th{data: {sortInitialOrder: 'asc'}} Participant
            - @maneuvers.each do |maneuver|
              %th= maneuver.name
            %th Onboard Judging
            %th Maneuvers total
            %th Circle Check
            %th Quiz
            %th Total score
        %tbody
          = render @participants
      %table#template.d-none
        %tbody
          = render partial: 'participant', locals: { participant: NullParticipant.new }
  = javascript_include_tag 'cable.js' unless @archiving
- else
  %h2 No participants yet
