.users
  %table.users
    %tr
      %th Name
      %th Admin
      %th Master of Ceremonies
      %th Judge
      %th Quiz Scorer
      %th Circle Check Scorer
    - @users.each do |user|
      %tr
        = form_for user, url: admin_user_path(user), method: :put, class: 'form-inline' do |f|
          %td= user.name
          %td= f.check_box :admin
          %td= f.check_box :master_of_ceremonies
          %td= f.check_box :judge
          %td= f.check_box :quiz_scorer
          %td= f.check_box :circle_check_scorer
          %td
            .actions= f.submit 'Save', class: 'btn btn-primary'
        %td
          .actions= button_to 'Remove', admin_user_path(user), method: :delete, class: 'btn btn-primary delete'
