.scoring
  %h1 Onboard Judging
  %h3 Participant #{@participant.display_information(:number, :name)}
  %hr
  = form_for OnboardJudging.new, builder: AppFormBuilder do |f|
    = f.hidden_field :participant_id, value: @participant.id
    %fieldset.form-group
      %legend Time Elapsed
      .form-group
        = f.number_field_with_buttons :minutes_elapsed, value: 7, min: 0
        minutes
      .form-group
        = f.number_field_with_buttons :seconds_elapsed, value: 0, in: 0...60
        seconds
    %fieldset.form-group
      %legend Safety Habits
      .form-group
        = f.label 'Missed turn signals'
        = f.number_field_with_buttons :missed_turn_signals, value: 0, min: 0
      .form-group
        = f.label 'Missed horn sounds'
        = f.number_field_with_buttons :missed_horn_sounds, value: 0, min: 0
      .form-group
        = f.label 'Missed flashers'
        = f.number_field_with_buttons :missed_flashers, value: 0, min: 0
      .form-group
        = f.label 'Times moved w/ door open'
        = f.number_field_with_buttons :times_moved_with_door_open, value: 0, min: 0
    %fieldset.form-group
      %legend Smoothness of Operation
      .form-group
        = f.label 'Unannounced PAX stops'
        = f.number_field_with_buttons :unannounced_stops, value: 0, min: 0, max: 2
      .form-group
        = f.label 'Sudden stops'
        = f.number_field_with_buttons :sudden_stops, value: 0, min: 0
      .form-group
        = f.label 'Sudden starts'
        = f.number_field_with_buttons :sudden_starts, value: 0, min: 0
      .form-group
        = f.label 'Abrupt turns'
        = f.number_field_with_buttons :abrupt_turns, value: 0, min: 0
    .form-group
      = submit_tag 'Save', class: 'btn btn-primary submit'
