.scoring
  %h1 Onboard Judging
  %h3 Participant #{@participant.display_information(:number, :name, :bus)}
  - if current_user.admin? && @record.creator.present?
    %h3 Score recorded by #{@record.creator.name}
  %hr
  = form_for @record do |f|
    = f.hidden_field :participant_id, value: @participant.id
    %fieldset.form-group
      %legend Time elapsed:
      .form-group
        = render 'shared/with_increment_buttons' do
          = f.number_field :minutes_elapsed, value: @record.minutes_elapsed, min: 0, required: true
        minutes
      .form-group
        = render 'shared/with_increment_buttons' do
          = f.number_field :seconds_elapsed, value: @record.seconds_elapsed, in: 0...60, required: true
        seconds
    %fieldset.form-group
      %legend Safety Habits
      .form-group
        = f.label 'Missed turn signals'
        = render 'shared/with_increment_buttons' do
          = f.number_field :missed_turn_signals, value: @record.missed_turn_signals, min: 0
      .form-group
        = f.label 'Missed horn sounds'
        = render 'shared/with_increment_buttons' do
          = f.number_field :missed_horn_sounds, value: @record.missed_horn_sounds, min: 0
      .form-group
        = f.label 'Missed flashers'
        = render 'shared/with_increment_buttons' do
          = f.number_field :missed_flashers, value: @record.missed_flashers, min: 0
      .form-group
        = f.label 'Times moved w/ door open'
        = render 'shared/with_increment_buttons' do
          = f.number_field :times_moved_with_door_open, value: @record.times_moved_with_door_open, min: 0
    %fieldset.form-group
      %legend Smoothness of Operation
      .form-group
        = f.label 'Unannounced PAX stops'
        = render 'shared/with_increment_buttons' do
          = f.number_field :unannounced_stops, value: @record.unannounced_stops, in: 0..2
      .form-group
        = f.label 'Sudden stops'
        = render 'shared/with_increment_buttons' do
          = f.number_field :sudden_stops, value: @record.sudden_stops, min: 0
      .form-group
        = f.label 'Sudden starts'
        = render 'shared/with_increment_buttons' do
          = f.number_field :sudden_starts, value: @record.sudden_starts, min: 0
      .form-group
        = f.label 'Abrupt turns'
        = render 'shared/with_increment_buttons' do
          = f.number_field :abrupt_turns, value: @record.abrupt_turns, min: 0
    .form-group
      = submit_tag 'Save', class: 'btn btn-primary submit'
