!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= title_text @page_title
    = favicon_link_tag 'favicon.ico', sizes: '32x32'
    = favicon_link_tag 'icon.svg', type: 'image/svg+xml'
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = content_tag :style, nonce: content_security_policy_nonce do
      :plain
        :root {
          --body-bg-color: #{Rails.configuration.roadeo.background};
        }
    = stylesheet_link_tag 'application.css', media: 'all'
    = csrf_meta_tags
    = action_cable_meta_tag
  %body
    .container-fluid
      = render 'layouts/navbar', archiving: @archiving
      - if flash[:error].present?
        .alert.alert-danger= flash[:error]
      - if flash[:errors].present?
        - flash[:errors].each do |error|
          .alert.alert-danger= error
      - if flash[:alert].present?
        .alert.alert-warning= flash[:alert]
      - if flash[:notice].present?
        .alert.alert-success= flash[:notice]
      = render 'shared/title', title: @page_title, subtitle: @page_subtitle if @page_title.present?
      = yield
    = javascript_include_tag 'application.js'
