!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title UMTS Roadeo
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application.css', media: 'all'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body
    .container-fluid
      = render partial: 'layouts/navbar'
      - if flash[:error].present?
        .row
          .col.alert.alert-danger= flash[:error]
      - if flash[:errors].present?
        - flash[:errors].each do |error|
          .row
            .col.alert.alert-danger= error
      - if flash[:alert].present?
        .row
          .col.alert.alert-warning= flash[:alert]
      - if flash[:notice].present?
        .row
          .col.alert.alert-success= flash[:notice]
      = yield
